.App {
    width: 100%;
    display: flex;
}

.row {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    width: calc(100% / 2 - 45px);
    border-radius: 20px;
    background-color: #ebc388;
    padding: 20px;
}

button {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #57e963;
    cursor: pointer;
}

button:hover {
    background-color: #27db36;
}

button:active {
    background-color: #00a90e;
}